<script type="text/javascript">
    var State = '';
    var Table;
    $(document).ready(function () {
        LoadDataTable();
    });

    function LoadDataTable(data) {
        if (Table != undefined) {
            Table.DataTable.destroy();
        }

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    Table = $('#Table').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        //autoWidth: true,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../PengaturanMenu/LoadData',
                            "type": "POST",
                            "datatype": "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "Number", "name": "Number" },
                          
                            {
                                responsivePriority: 2,
                                "data": "Id", "name": "Id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                                    return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="Edit(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="View(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="Delete(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Delete Data"><i class="fa fa-trash btnDelete"></i></a></div>'
                                }
                            },
                            { responsivePriority: 3, "data": "Tipe", "name": "Tipe" },
                            { responsivePriority: 4, "data": "Nama", "name": "Nama" },
                            { responsivePriority: 5, "data": "Parent", "name": "Parent" },
                            { responsivePriority: 9, "data": "Route", "name": "Route" },
                            { responsivePriority: 7, "data": "OrderBy", "name": "OrderBy" },
                            { responsivePriority: 6, "data": "Role", "name": "Role" },
                            {
                                responsivePriority: 8, "data": "Visible_Name", "name": "Visible_Name",
                                "render": function (data, type, full, meta) {
                                    if (data == 'Aktif') {
                                        return '<p class="mt-2 btn btn-primary disabled"><b>' + data + '</b></p>'
                                    }
                                    else {
                                        return '<p class="mt-2 btn btn-danger disabled"><b>' + data + '</b></p>'
                                    }
                                }
                            },
                            { responsivePriority: 10, "data": "CreatedTime", "name": "CreatedTime","visible":false },
                            { responsivePriority: 11, "data": "CreatedBy", "name": "CreatedBy", "visible": false  },
                            { responsivePriority: 12, "data": "UpdatedTime", "name": "UpdatedTime", "visible": false },
                            { responsivePriority: 13, "data": "UpdatedBy", "name": "UpdatedBy","visible":false  }
                        ],
                        "order": [[1, "desc"]]
                    });

                    //$.fn.dataTable.ext.errMode = 'throw';

                    //--------------------------Function untuk melempar parameter search ---------------------//
                    //Untuk melempar parameter search
                    //oTable = $('#Table').DataTable();
                    $('#BtnSearch').click(function () {
                        Table.columns(2).search($('#txtTypeSearchParam').val().trim());
                        Table.columns(3).search($('#txtNamaSearchParam').val().trim());
                        Table.columns(4).search($('#txtInduxSearchParam').val().trim());
                        Table.columns(7).search($('#txtKewenanganSearchParam').val().trim());


                        //hit search ke server
                        Table.draw();
                    });


                    //---------------------Function untuk reset data pencarian----------------//
                    $('#BtnClearSearch').click(function () {
                        $('#txtNamaSearchParam').val("");
                        $('#txtInduxSearchParam').val("");
                        $('#txtTypeSearchParam').val("");
                        $('#txtKewenanganSearchParam').val("");

                        Table.columns(2).search($('#txtTypeSearchParam').val().trim());
                        Table.columns(3).search($('#txtNamaSearchParam').val().trim());
                        Table.columns(4).search($('#txtInduxSearchParam').val().trim());
                        Table.columns(7).search($('#txtKewenanganSearchParam').val().trim());
                        //hit search ke server
                        Table.draw();
                    });

                    Table.columns.adjust().responsive.recalc();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });

      
    }


    function Create() {
        ShowModal('bd-example-modal-lg');
        State = "create";
        UrlPartialView = '../PengaturanMenu/Create';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    LoadPartialViewData(UrlPartialView, function (data) {
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;

                        $("#TipeId").select2({
                            tags: true
                        });

                        $("#ParentId").select2({
                            tags: true
                        });

                        $("#Role").select2({
                            tags: true,
                            placeholder: '-Silahkan pilih-',
                            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                            minimumInputLength: 0
                        });

                        ValidationForm();

                        $("input[name=Visible][value=1]").prop("checked", true);
                    });
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    //--***************************************START EDIT ******************************************//
    function Edit(Id) {
        ShowModal('bd-example-modal-lg');

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //ShowModal('bd-example-modal-lg');

                    State = "edit";
                    SearchData = { "Id": Id }
                    UrlPartialView = '../PengaturanMenu/Edit';
                    LoadPartialViewData(UrlPartialView, function (data) {

                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;
                        var dataRoles = $('#RolesValue').val();
                        SearchData = { "Roles": dataRoles }
                        UrlPartialView = "../Utility/GetDropdownRolesByMenuId";
                        LoadPartialViewData(UrlPartialView, function (data) {
                            $.each(data, function (index, value) {
                                $('#Role').append('<option value="' + value.id + '" selected>' + value.text + '</option>');
                            });
                        }, SearchData);

                        $("#TipeId").select2({
                            tags: true
                        });

                        $("#ParentId").select2({
                            tags: true
                        });

                        $("#Role").select2({
                            tags: true,
                            placeholder: '-Silahkan pilih-',
                            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                            minimumInputLength: 0
                        });

                        ValidationForm();
                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });

    }
    //--***************************************END EDIT ******************************************//

    //--***************************************START VIEW ******************************************//
    function View(Id) {
        ShowModal('bd-example-modal-lg');

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //ShowModal('bd-example-modal-lg');

                    State = "view";
                    SearchData = { "Id": Id }
                    UrlPartialView = '../PengaturanMenu/View';
                    LoadPartialViewData(UrlPartialView, function (data) {
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;
                        var dataRoles = $('#RolesValue').val();
                        SearchData = { "Roles": dataRoles }
                        UrlPartialView = "../Utility/GetDropdownRolesByMenuId";
                        LoadPartialViewData(UrlPartialView, function (data) {
                            $.each(data, function (index, value) {
                                $('#Role').append('<option value="' + value.id + '" selected>' + value.text + '</option>');
                            });
                        }, SearchData);

                        $("#TipeId").select2({
                            tags: true
                        });

                        $("#ParentId").select2({
                            tags: true
                        });

                        $("#Role").select2({
                            tags: true,
                            placeholder: '-Silahkan pilih-',
                            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                            minimumInputLength: 0
                        });
                        $("#FormData :input").prop("disabled", true);
                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }
    //--***************************************END VIEW ******************************************//


    //Untuk Validasi Form data Pinjaman
    function ValidationForm() {
        //Untuk validasi form
        var $validator = $("#FormData").validate({
            ignore: [],
            rules: {
                Nama: {
                    required: true
                },
                TipeId: {
                    required: true
                },
                Route: {
                    required: true
                },
                Role: {
                    required: true
                },
                OrderBy: {
                    required: true
                },
                Visible: {
                    required: true
                },
            },
            messages: {

            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        $.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#BtnSubmit').click(function () {
            var url = '';
            var $valid = $("#FormData").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                var Roles = $("#Role").val().join();
                if (State == "edit") {
                    url = '../PengaturanMenu/SubmitEdit';
                }
                else {
                    url = '../PengaturanMenu/SubmitCreate';
                }
                //Cek session terlebih dahulu
                $.ajax({
                    type: 'GET',
                    url: '../Login/CekSession',
                    success: function (hasil) {
                        if (hasil == true) {
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: $('#FormData').serialize() + "&Roles=" + Roles,
                                success: function (d) {
                                    //Tampilkan alert status
                                    if (d == "") {
                                        BackDraft();
                                        NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                        Table.draw();
                                    } else {
                                        NotifikasiError("Error", d)
                                    }
                                }
                            });
                            return false;
                        }
                        else {
                            window.location.href = "../Login/Login?a=true";
                        }
                    }
                });
            }
        });
    }

   
 
    //--***************************************START DELETE ******************************************//
    function Delete(Id) {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {

                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });


        listSelected = [];
        State = "delete";
           swal({
                title: "Konfirmasi",
                text: "Apakah Anda yakin ingin menghapus data ini?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '../PengaturanMenu/Delete',
                            type: 'POST',
                            data: { "Ids": Id },
                            success: function (d) {
                                if (d == "") {
                                    NotifikasiSukses("Sukses", "Data berhasil dihapus!");
                                } else {
                                    NotifikasiError("Error", "Data gagal dihapus!")
                                }
                                Table.draw();
                            }
                        });
                    }
                });
        return false;
    }
    //--***************************************END DELETE ******************************************//

</script>