<script type="text/javascript">
    var State = '';
    var Table;
    $(document).ready(function () {
        LoadDataTable();
    });

    function LoadDataTable(data) {
        if (Table != undefined) {
            Table.DataTable.destroy();
        }

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    debugger;
                    Table = $('#Table').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        //autoWidth: true,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../PengaturanSystemParameter/LoadData',
                            "type": "POST",
                            "datatype": "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 3, "data": "Number", "name": "Number" },
                            {
                                responsivePriority: 2, "data": "Id", "name": "Id",
                                "render": function (data, type, full, meta) {
                                    return '<div class="dropdown d-inline-block">'
                                        + '<button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="mb-2 mr-2 dropdown-toggle btn btn-outline-primary">Action</button>'
                                        + '<div class="dropdown-menu" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-8px, 33px, 0px);">'
                                        + '<button type="button" class="dropdown-item" onclick="Edit(' + full.Id + ')">Ubah Data</button>'
                                        + '<button type="button" class="dropdown-item" onclick="View(' + full.Id + ')">Detail Data</button>'
                                        + '<button type="button" class="dropdown-item" onclick="Delete(' + full.Id + ')">Hapus Data</button>'

                                        + '</div>'
                                        + '</div>'
                                }
                            },
                            { responsivePriority: 3, "data": "Key", "name": "Key" },
                            { responsivePriority: 4, "data": "Value", "name": "Value" },
                            { responsivePriority: 5, "data": "Keterangan", "name": "Keterangan" },
                            {
                                responsivePriority: 7, "data": "Status", "name": "Status",
                                "render": function (data, type, full, meta) {
                                    if (data == 'Aktif') {
                                        return '<p class="mt-2 btn btn-primary disabled"><b>' + data + '</b></p>'
                                    }
                                    else {
                                        return '<p class="mt-2 btn btn-danger disabled"><b>' + data + '</b></p>'
                                    }
                                }
                            }
                        ],
                        "order": [[1, "desc"]]
                    });

                    //$.fn.dataTable.ext.errMode = 'throw';

                    //--------------------------Function untuk melempar parameter search ---------------------//
                    //Untuk melempar parameter search
                    //oTable = $('#Table').DataTable();
                    $('#BtnSearch').click(function () {
                        Table.columns(1).search($('#txtKeySearchParam').val().trim());
                        Table.columns(2).search($('#txtValueSearchParam').val().trim());
                        Table.columns(3).search($('#txtKeteranganSearchParam').val().trim());

                        //hit search ke server
                        Table.draw();
                    });


                    //---------------------Function untuk reset data pencarian----------------//
                    $('#BtnClearSearch').click(function () {
                        $('#txtKeySearchParam').val("");
                        $('#txtValueSearchParam').val("");
                        $('#txtKeteranganSearchParam').val("");

                        Table.columns(1).search($('#txtKeySearchParam').val().trim());
                        Table.columns(2).search($('#txtValueSearchParam').val().trim());
                        Table.columns(3).search($('#txtKeteranganSearchParam').val().trim());
                        //hit search ke server
                        Table.draw();
                    });

                    Table.columns.adjust().responsive.recalc();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }


    function Create() {
        ShowModal('bd-example-modal-lg');
        State = "create";
        UrlPartialView = '../PengaturanSystemParameter/Create';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    LoadPartialViewData(UrlPartialView, function (data) {
                        //ShowModal('bd-example-modal-lg');
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;
                        ValidationForm();
                        $("input[name=IsActive][value=True]").prop("checked", true);

                    });
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    //--***************************************START EDIT ******************************************//
    function Edit(Id) {
        ShowModal('bd-example-modal-lg');

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //ShowModal('bd-example-modal-lg');

                    State = "edit";
                    SearchData = { "Id": Id }
                    UrlPartialView = '../PengaturanSystemParameter/Edit';
                    LoadPartialViewData(UrlPartialView, function (data) {

                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;
                        ValidationForm();
                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });

    }
    //--***************************************END EDIT ******************************************//

    //--***************************************START VIEW ******************************************//
    function View(Id) {
        ShowModal('bd-example-modal-lg');

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //ShowModal('bd-example-modal-lg');

                    State = "view";
                    SearchData = { "Id": Id }
                    UrlPartialView = '../PengaturanSystemParameter/View';
                    LoadPartialViewData(UrlPartialView, function (data) {

                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;

                        $("#FormData :input").prop("disabled", true);

                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }
    //--***************************************END VIEW ******************************************//


    //Untuk Validasi Form data Pinjaman
    function ValidationForm() {
        //Untuk validasi form
        var $validator = $("#FormData").validate({
            ignore: [],
            rules: {
                Nama: {
                    required: true
                },
                Kode: {
                    required: true
                },
                GradeAwal: {
                    required: true
                },
                GradeAkhir: {
                    required: true
                },
                Keterangan: {
                    required: true
                },
                OrderBy: {
                    required: true
                },
                IsActive: {
                    required: true
                },
            },
            messages: {

            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        $.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#BtnSubmit').click(function () {
            var url = '';
            var $valid = $("#FormData").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                if (State == "edit") {
                    url = '../PengaturanSystemParameter/SubmitEdit';
                }
                else {
                    url = '../PengaturanSystemParameter/SubmitCreate';
                }
                //Cek session terlebih dahulu
                $.ajax({
                    type: 'GET',
                    url: '../Login/CekSession',
                    success: function (hasil) {
                        if (hasil == true) {
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: $('#FormData').serialize(),
                                success: function (d) {
                                    //Tampilkan alert status
                                    if (d == "") {
                                        BackDraft();
                                        NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                        Table.draw();
                                    } else {
                                        NotifikasiError("Error", d)
                                    }
                                }
                            });
                            return false;
                        }
                        else {
                            window.location.href = "../Login/Login?a=true";
                        }
                    }
                });
            }
        });
    }



    //--***************************************START DELETE ******************************************//
    function Delete(Id) {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {

                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });


        listSelected = [];
        State = "delete";
        swal({
            title: "Konfirmasi",
            text: "Apakah Anda yakin ingin menghapus data ini?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '../PengaturanSystemParameter/Delete',
                        type: 'POST',
                        data: { "Ids": Id },
                        success: function (d) {
                            if (d == "") {
                                NotifikasiSukses("Sukses", "Data berhasil dihapus!");
                            } else {
                                NotifikasiError("Error", "Data gagal dihapus!")
                            }
                            Table.draw();
                        }
                    });
                }
            });
        return false;
    }
    //--***************************************END DELETE ******************************************//

</script>