<script type="text/javascript">
    var State = '';
    var Table;
    $(document).ready(function () {
        LoadDataTable();
    });

    function LoadDataTable(data) {
        if (Table != undefined) {
            Table.DataTable.destroy();
        }

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    Table = $('#Table').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        responsive: false,
                        scrollX:true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        //autoWidth: true,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../ListFAQ/LoadData',
                            "type": "POST",
                            "datatype": "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "Number", "name": "Number", orderable: false },
                            {
                                responsivePriority: 2,
                                "data": "Id", "name": "Id", "orderable": false, "visible": true, "render": function(data, type, full, meta) {
                                    return '<div class="widget-content p-0">'
                                        + '<div class="widget-content-wrapper">'
                                        + '<div class="widget-content" style="min-width:100%">'
                                        + '<div class="widget-heading">'
                                        + '<p><b>' + full.Judul + '</b></p>'
                                        + '<p style="margin-top:-5px;">' + full.Keterangan + '</p>'
                                        + '</div>'
                                        + '</div>'
                                        + '</div>'
                                        + '</div>'
                                        + '</div>'
                                }
                            }
                        ],
                        "order": [[1, "desc"]]
                    });

                    //$.fn.dataTable.ext.errMode = 'throw';

                    //--------------------------Function untuk melempar parameter search ---------------------//
                    //Untuk melempar parameter search
                    //oTable = $('#Table').DataTable();
                    $('#BtnSearch').click(function () {
                        Table.columns(1).search($('#txtPertanyaanSearchParam').val().trim());
                        //hit search ke server
                        Table.draw();
                    });


                    //---------------------Function untuk reset data pencarian----------------//
                    $('#BtnClearSearch').click(function () {
                        $('#txtPertanyaanSearchParam').val("");

                        Table.columns(1).search($('#txtPertanyaanSearchParam').val().trim());
                        //hit search ke server
                        Table.draw();
                    });

                    Table.columns.adjust().responsive.recalc();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    
    //--***************************************START VIEW ******************************************//
    function View(Id) {
        ShowModal('bd-example-modal-lg');

        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    //ShowModal('bd-example-modal-lg');

                    State = "view";
                    SearchData = { "Id": Id }
                    UrlPartialView = '../ListFAQ/View';
                    LoadPartialViewData(UrlPartialView, function (data) {
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;

                        $("#FormData :input").prop("disabled", true);

                        $('#KeteranganSummernote').summernote({
                            placeholder: 'Masukkan Jawaban',
                            height: 300,
                            toolbar: [
                                ['style', ['style']],
                                ['font', ['bold', 'underline', 'clear']],
                                ['color', ['color']],
                                ['para', ['ul', 'ol', 'paragraph']],
                                ['table', ['table']],
                                ['insert', ['link', 'picture', 'video']],
                                ['view', ['fullscreen', 'codeview', 'help']]
                            ]
                        });
                        $('#KeteranganSummernote').summernote('code', $("#Keterangan").val());


                    }, SearchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }
    //--***************************************END VIEW ******************************************//

    //--***************************************START DELETE ******************************************//
    function Delete(Id) {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {

                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });


        listSelected = [];
        State = "delete";
           swal({
                title: "Konfirmasi",
                text: "Apakah Anda yakin ingin menghapus data ini?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '../ListFAQ/Delete',
                            type: 'POST',
                            data: { "Ids": Id },
                            success: function (d) {
                                if (d == "") {
                                    NotifikasiSukses("Sukses", "Data berhasil dihapus!");
                                } else {
                                    NotifikasiError("Error", "Data gagal dihapus!")
                                }
                                Table.draw();
                            }
                        });
                    }
                });
        return false;
    }
    //--***************************************END DELETE ******************************************//

</script>