<script type="text/javascript">
    var State = '';
    var TableProgressKerja;
    var ProjectMemberId;
    var TableProgressKerja;

    $(document).ready(function () {
        $.fn.datepicker.language['en'] = {
            days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
            daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
            daysMin: ['Mn', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sa'],
            months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dec'],
            today: 'Today',
            clear: 'Clear',
            dateFormat: 'dd/mm/yyyy',
            firstDay: 0
        };

        ValidationForm();
        $("input[name=IsActive][value=True]").prop("checked", true);


        CreateContentTanggal("TanggalMemo");
        CreateContentTanggal("TanggalKlarifikasi");
        CreateContentTanggal("TanggalDisposisi");
        $('#Keterangan').summernote({
            placeholder: 'Masukkan Diskripsi Project',
            tabsize: 2,
            height: 300,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });
        LoadDatatable();
    });

    //Untuk Validasi Form data Pinjaman
    function ValidationForm() {
        //Untuk validasi form
        var $validator = $("#FormData").validate({
            ignore: [],
            rules: {
                Nama: {
                    required: true
                },
                OrderBy: {
                    required: true
                },
                Visible: {
                    required: true
                },
            },
            messages: {

            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        $.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        //check apakah form sudah valid atau belum
        $('#BtnSubmit').click(function () {
            var url = '';
            var $valid = $("#FormData").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                if (State == "edit") {
                    url = '../DataProject/SubmitEdit';
                }
                else {
                    url = '../DataProject/SubmitCreate';
                }
                //Cek session terlebih dahulu
                $.ajax({
                    type: 'GET',
                    url: '../Login/CekSession',
                    success: function (hasil) {
                        if (hasil == true) {
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: $('#FormData').serialize(),
                                success: function (d) {
                                    //Tampilkan alert status
                                    if (d == "") {
                                        BackDraft();
                                        NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                        Table.draw();
                                    } else {
                                        NotifikasiError("Error", d)
                                    }
                                }
                            });
                        }
                        else {
                            window.location.href = "../Login/Login?a=true";
                        }
                    }
                });
            }
        });
    }

    function LoadDatatable() {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    Table = $('#Table').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        "scrollY": "270px",
                        "scrollCollapse": true,
                        responsive: true,
                        responsive: false,
                        scrollX: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        //autoWidth: true,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        ajax: {
                            "url": '../PendingTask/LoadData',
                            "type": "POST",
                            "datatype": "json",
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "Number", "name": "Number" },
                            {
                                responsivePriority: 2,
                                "data": "Id", "name": "Id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                                    return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="DetailProject(' + full.ProjectId + ')" style="margin-right:5px;" data-toggle="tooltip" title="Detail Project"><i class="fa fa-edit btnEdit"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-print" onclick="UpdateStatusProject(' + full.Id + ')" data-toggle="tooltip" title="Laporan Detail Pekerjaan"><i class="fa fa-clipboard btnPrint"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-print" onclick="UpdateTaskDone(' + full.Id + ')" data-toggle="tooltip" title="Task Done"><i class="fa fa-paper-plane btnPrint"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-print" onclick="PrintDataProject(' + full.ProjectId + ')" data-toggle="tooltip" title="Print Data"><i class="fa fa-print btnPrint"></i></a></div>'
                                }
                            },
                            { responsivePriority: 5, "data": "ProjectNo", "name": "ProjectNo" },
                            { responsivePriority: 4, "data": "NamaProject", "name": "NamaProject" },
                            { responsivePriority: 3, "data": "Periode", "name": "Periode" },
                            { responsivePriority: 7, "data": "Selisih", "name": "Selisih" },
                            { responsivePriority: 7, "data": "TanggalPenyelesaian", "name": "TanggalPenyelesaian" },
                            { responsivePriority: 7, "data": "JumlahHariPengerjaanAngka", "name": "JumlahHariPengerjaanAngka" },
                            {
                                responsivePriority: 6, "data": "StatusProject", "name": "StatusProject",
                                "render": function (data, type, full, meta) {
                                    if (full.Warna == 'Kuning') {
                                        return '<p class="mt-2 btn btn-block btn-warning disabled"><b>' + data + '</b></p>'
                                    }
                                    else if (full.Warna == 'Biru') {
                                        return '<p class="mt-2 btn btn-block btn-info disabled"><b>' + data + '</b></p>'
                                    }
                                    else if (full.Warna == 'Hijau') {
                                        return '<p class="mt-2 btn btn-block btn-success disabled"><b>' + data + '</b></p>'
                                    }
                                    else if (full.Warna == 'Merah') {
                                        return '<p class="mt-2 btn btn-block btn-danger disabled"><b>' + data + '</b></p>'
                                    }
                                    else {
                                        return '<p class="mt-2 btn btn-block disabled"><b>' + data + '</b></p>'
                                    }
                                }
                            }
                            //{ responsivePriority: 8, "data": "status", "name": "status" }
                        ],
                        "order": [[1, "desc"]]
                    });

                    //--------------------------Function untuk melempar parameter search ---------------------//
                    //Untuk melempar parameter search
                    //oTable = $('#Table').DataTable();
                    $('#BtnSearch').click(function () {
                        Table.columns(2).search($('#txtNoProjectSearchParam').val().trim());
                        Table.columns(3).search($('#txtNamaSearchParam').val().trim());

                        //hit search ke server
                        Table.draw();
                    });


                    //---------------------Function untuk reset data pencarian----------------//
                    $('#BtnClearSearch').click(function () {
                        $('#txtNoProjectSearchParam').val("");
                        $('#txtNamaSearchParam').val("");

                        Table.columns(2).search($('#txtNoProjectSearchParam').val().trim());
                        Table.columns(3).search($('#txtNamaSearchParam').val().trim());
                        //hit search ke server
                        Table.draw();
                    });

                    Table.columns.adjust().responsive.recalc();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });



      
    }

    function ReloadTable() {
        $('#DivContentBody').show();
        document.getElementById("DivFormBody").innerHTML = "";
        Table.draw();
    }


    function DetailProject(Id) {
        window.open('../DetailProject/View?ProjectId=' + Id, '_blank');
    }
    function AssignProject() {
        window.open('../DetailProject/AssignProject?ProjectId=' + Id, '_blank');
    }

    function UpdateStatusProject(Id) {
        ShowModal('bd-example-modal-lg');
        State = "create";
        UrlPartialView = '../PendingTask/UpdateProgress';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    LoadPartialViewData(UrlPartialView, function (data) {
                        //ShowModal('bd-example-modal-lg');
                        $('#DivContentBody').hide();
                        document.getElementById("DivFormBody").innerHTML = data;
                        ProjectMemberId = Id;
                        LoadDataTableProgressKerja();
                        $("input[name=IsActive][value=True]").prop("checked", true);

                    });
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function LoadDataTableProgressKerja(data) {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    if (TableProgressKerja != undefined) {
                        TableProgressKerja.destroy();
                    }
                    TableProgressKerja = $('#TableProgress').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        //autoWidth: true,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../Utility/LoadDataProgressKerjaMember',
                            "type": "POST",
                            "datatype": "json",
                            "data": { "ProjectMemberId": ProjectMemberId },
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "Number", "name": "Number" },
                            {
                                responsivePriority: 2,
                                "data": "Id", "name": "Id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                                    return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="EditProgress(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="ViewProgress(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'
                                        + '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="DeleteProgress(' + full.Id + ')" style="margin-right:5px;" data-toggle="tooltip" title="Delete Data"><i class="fa fa-trash btnDelete"></i></a></div>'
                                }
                            },
                            { responsivePriority: 3, "data": "Judul", "name": "Judul" },
                            { responsivePriority: 4, "data": "Deskripsi", "name": "Deskripsi" },
                            { responsivePriority: 5, "data": "Tanggal", "name": "Tanggal" }
                        ],
                        "order": [[1, "desc"]]
                    });

                    //$.fn.dataTable.ext.errMode = 'throw';

                    //--------------------------Function untuk melempar parameter search ---------------------//
                    //Untuk melempar parameter search
                    //oTable = $('#Table').DataTable();
                    $('#BtnSearch').click(function () {
                        TableProgressKerja.columns(2).search($('#txtTipeSearchParam').val().trim());
                        Table.columns(3).search($('#txtNamaSearchParam').val().trim());


                        //hit search ke server
                        TableProgressKerja.draw();
                    });


                    //---------------------Function untuk reset data pencarian----------------//
                    $('#BtnClearSearch').click(function () {
                        $('#txtTipeSearchParam').val("");
                        $('#txtNamaSearchParam').val("");

                        TableProgressKerja.columns(2).search($('#txtTipeSearchParam').val().trim());
                        TableProgressKerja.columns(3).search($('#txtNamaSearchParam').val().trim());
                        //hit search ke server
                        TableProgressKerja.draw();
                    });

                    TableProgressKerja.columns.adjust().responsive.recalc();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }


    function CreateProgress() {
        ShowModal('bd-example-modal-lg');
        State = "create";
        UrlPartialView = '../PendingTask/UpdateProgressPekerjaan';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    var searchData = { "ProjectMemberId": ProjectMemberId }
                    LoadPartialViewData(UrlPartialView, function (data) {
                        //ShowModal('bd-example-modal-lg');
                        //StateTempClient = "create";
                        var modalbody = $('#LoadContent');
                        modalbody.html(data);
                        $('#ModalForm').modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                        RangeDateDefault("Tanggal");

                        ValidationFormProgresPekerjaan();
                        $('#KeteranganSummernote').summernote({
                            placeholder: 'Masukkan Deskripsi Pekerjaan',
                            height: 200,
                            toolbar: [
                                ['style', ['style']],
                                ['font', ['bold', 'underline', 'clear']],
                                ['color', ['color']],
                                ['para', ['ul', 'ol', 'paragraph']],
                                ['table', ['table']],
                                ['insert', ['link', 'picture', 'video']],
                                ['view', ['fullscreen', 'codeview', 'help']]
                            ]
                        }, searchData);
                        $("#KeteranganSummernote").summernote("code", "");

                    });
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function EditProgress(Id) {
        ShowModal('bd-example-modal-lg');
        State = "edit";
        UrlPartialView = '../PendingTask/EditUpdateProgressPekerjaan';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'POST',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    var searchData = { "id": Id }
                    LoadPartialViewData(UrlPartialView, function (data) {
                        //ShowModal('bd-example-modal-lg');
                        //StateTempClient = "create";
                        var modalbody = $('#LoadContent');
                        modalbody.html(data);
                        $('#ModalForm').modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                        RangeDateDefaultDefaultValue("Tanggal");

                        ValidationFormProgresPekerjaan();
                        $('#KeteranganSummernote').summernote({
                            placeholder: 'Masukkan Deskripsi Pekerjaan',
                            height: 200,
                            toolbar: [
                                ['style', ['style']],
                                ['font', ['bold', 'underline', 'clear']],
                                ['color', ['color']],
                                ['para', ['ul', 'ol', 'paragraph']],
                                ['table', ['table']],
                                ['insert', ['link', 'picture', 'video']],
                                ['view', ['fullscreen', 'codeview', 'help']]
                            ]
                        });
                        $('#KeteranganSummernote').summernote('code', $("#Deskripsi").val());

                    }, searchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function ViewProgress(Id) {
        ShowModal('bd-example-modal-lg');
        State = "view";
        UrlPartialView = '../PendingTask/ViewUpdateProgressPekerjaan';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    var searchData = { "id": Id }
                    LoadPartialViewData(UrlPartialView, function (data) {
                        //ShowModal('bd-example-modal-lg');
                        //StateTempClient = "create";
                        var modalbody = $('#LoadContent');
                        modalbody.html(data);
                        $('#ModalForm').modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                        $("#FormDataProgresPekerjaan :input").prop("disabled", true);
                        $('#KeteranganSummernote').summernote({
                            placeholder: 'Masukkan Deskripsi Pekerjaan',
                            height: 200,
                            toolbar: [
                                ['style', ['style']],
                                ['font', ['bold', 'underline', 'clear']],
                                ['color', ['color']],
                                ['para', ['ul', 'ol', 'paragraph']],
                                ['table', ['table']],
                                ['insert', ['link', 'picture', 'video']],
                                ['view', ['fullscreen', 'codeview', 'help']]
                            ]
                        });
                        $('#KeteranganSummernote').summernote('code', $("#Deskripsi").val());
                        $('#KeteranganSummernote').summernote('disable');
                        $("#BtnSubmitDetailProgresPekerjaan").hide();
                    }, searchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    //--***************************************START DELETE ******************************************//
    function DeleteProgress(Id) {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {

                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });


        listSelected = [];
        State = "delete";
        swal({
            title: "Konfirmasi",
            text: "Apakah Anda yakin ingin menghapus data ini?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '../PendingTask/DeleteProgress',
                        type: 'POST',
                        data: { "Ids": Id },
                        success: function (d) {
                            if (d == "") {
                                NotifikasiSukses("Sukses", "Data berhasil dihapus!");
                            } else {
                                NotifikasiError("Error", "Data gagal dihapus!")
                            }
                            TableProgressKerja.draw();
                        }
                    });
                }
            });
        return false;
    }
    //--***************************************END DELETE ******************************************//

    //Untuk Validasi Form data Pinjaman
    function ValidationFormProgresPekerjaan() {
        //Untuk validasi form
        var $validator = $("#FormDataProgresPekerjaan").validate({
            ignore: [],
            rules: {
                Judul: {
                    required: true
                },
                KeteranganSummernote: {
                    required: true
                },
                Tanggal: {
                    required: true
                }
            },
            messages: {

            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        $.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        $('#BtnSubmitDetailProgresPekerjaan').click(function () {
            var plaintext = $("#KeteranganSummernote").summernote("code");
            $("#Deskripsi").val(plaintext)
            $("#ProjectMemberId").val(ProjectMemberId);
            var url = '';
            var $valid = $("#FormDataProgresPekerjaan").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                if (State == "edit") {
                    url = '../PendingTask/SubmitEditProgressPekerjaan';
                }
                else {
                    url = '../PendingTask/SubmitCreateProgressPekerjaan';
                }
                //Cek session terlebih dahulu
                $.ajax({
                    type: 'GET',
                    url: '../Login/CekSession',
                    success: function (hasil) {
                        if (hasil == true) {
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: $('#FormDataProgresPekerjaan').serialize(),
                                success: function (d) {
                                    //Tampilkan alert status
                                    if (d == "") {
                                        $('#ModalForm').modal('hide');
                                        NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                        TableProgressKerja.draw();
                                    } else {
                                        NotifikasiError("Error", d)
                                    }
                                }
                            });
                        }
                        else {
                            window.location.href = "../Login/Login?a=true";
                        }
                    }
                });
            }
        });
    }


    function UpdateTaskDone(Id) {
        ShowModal('bd-example-modal-lg');
        State = "create";
        UrlPartialView = '../PendingTask/UpdateTaskDone';
        //Cek session masih aktif atau tidak
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    var searchData = { "id": Id }
                    LoadPartialViewData(UrlPartialView, function (data) {
                        //ShowModal('bd-example-modal-lg');
                        //StateTempClient = "create";
                        var modalbody = $('#LoadContent');
                        modalbody.html(data);
                        $('#ModalForm').modal({
                            backdrop: 'static',
                            keyboard: false
                        });

                        $.fn.datepicker.language['en'] = {
                            days: ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
                            daysShort: ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
                            daysMin: ['Mn', 'Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sa'],
                            months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
                            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dec'],
                            today: 'Today',
                            clear: 'Clear',
                            //dateFormat: 'dd/mm/yyyy',
                            firstDay: 0
                        };

                        CreateContentTanggal("TanggalPenyelesaian");
                        
                        ValidationFormUpdateTaskDone();
                        $('#CatatanSummernote').summernote({
                            placeholder: 'Masukkan Catatan',
                            height: 200,
                            toolbar: [
                                ['style', ['style']],
                                ['font', ['bold', 'underline', 'clear']],
                                ['color', ['color']],
                                ['para', ['ul', 'ol', 'paragraph']],
                                ['table', ['table']],
                                ['insert', ['link', 'picture', 'video']],
                                ['view', ['fullscreen', 'codeview', 'help']]
                            ]
                        });
                        $('#CatatanSummernote').summernote('code', $("#KeteranganPenyelesaian").val());

                    }, searchData);
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    //Untuk Validasi Form data Pinjaman
    function ValidationFormUpdateTaskDone() {
        //Untuk validasi form
        var $validator = $("#FormDataUpdateTaskDone").validate({
            ignore: [],
            rules: {
                CatatanSummernote: {
                    required: true
                },
                TanggalPenyelesaian: {
                    required: true
                }
            },
            messages: {

            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.is('textarea')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                } else if (element.is(':radio')) {
                    element.next().css('border', '1px solid red');
                    error.insertAfter(element.parent());
                }
                else if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });
        $.validator.messages.required = "Harap isi field ini terlebih dahulu!";

        $('#BtnSubmitTaskDone').click(function () {
            var plaintext = $("#CatatanSummernote").summernote("code");
            $("#KeteranganPenyelesaian").val(plaintext)
            var url = '';
            var $valid = $("#FormDataUpdateTaskDone").valid();
            if (!$valid) {
                //alert("False");
                $validator.focusInvalid();
                return false;
            } else {
                url = '../PendingTask/SubmitUpdateTaskDone';

                //Cek session terlebih dahulu
                $.ajax({
                    type: 'GET',
                    url: '../Login/CekSession',
                    success: function (hasil) {
                        if (hasil == true) {
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: $('#FormDataUpdateTaskDone').serialize(),
                                success: function (d) {
                                    //Tampilkan alert status
                                    if (d == "") {
                                        $('#ModalForm').modal('hide');
                                        NotifikasiSukses("Sukses", "Data berhasil disimpan!");
                                        Table.draw();
                                    } else {
                                        NotifikasiError("Error", d)
                                    }
                                }
                            });
                        }
                        else {
                            window.location.href = "../Login/Login?a=true";
                        }
                    }
                });
            }
        });
    }

    function PrintDataProject(Id) {
        
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    var popup = window.open('../DetailProject/Print?ProjectId=' + Id, '_blank');
                    popupBlockerChecker.check(popup);
                }
                else {
                    window.location.href = "../Account/Login?a=true";
                }
            }
        });
    }

</script>