@{
    ViewData["Title"] = "Empty Data";
    Layout = null;
}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Rombis</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div style="margin-top:10%">
        <center>
            <img src="~/img/empty_data.png" style="width: 100%;
  height: auto;max-width: 400px;" />
            <h6 style="margin-top:-30px;color:lightslategrey">Anda tidak mempunyai kewenangan mengakses data ini</h6>
        </center>
    </div>
    
</body>
</html>