@model PortalPMO.Models.dbPortalPMO.TblMasterSkorProject

<div class="row" style="display:none">
    <div class="col-lg-12">
        <table id="TableLogHistory" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="row">

    <div class="col-md-12 col-lg-12">
        <div id="tracking-pre"></div>
        <div id="tracking">
            <div class="text-center tracking-status-intransit">
                <p class="tracking-status text-tight">Project Log Status</p>
            </div>
            <div class="tracking-list" id="DivListTracking">
               
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href="../DataProject/Index" class="btn btn-sm btn-white">Tutup</a>
</div>