@model PortalPMO.Models.dbPortalPMO.TblMasterSkorProject

<div class="row">
    <div class="col-lg-12">
        <a href="javascript:void(0)" class="mt-2 btn btn-success" style="margin-left:10px;" onclick="CreateNotes()">Tambah Data</a>
        <table id="TableNotes" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th style="max-width:20px;"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <a href="../DataProject/Index" class="btn btn-sm btn-white">Tutup</a>
</div>