<script type="text/javascript">
    var State = '';
    var TableUpcomingProject;
    var TableOverdueProject;
    var PresentasePenyelesaian = 0;
    var IdDropdwonDefault = @Html.Raw(ViewBag.IdDropdwonDefault);
    var TextDropdwonDefault = '@Html.Raw(ViewBag.TextDropdwonDefault)';
    var TableSolicite;
    var TableProspek;
    var TablePipeline;
    var TableFasilitasKredit;
    var UserId;
    var StateParent = 1;
    var DataDashboard = 0;

    $(document).ready(function () {
        $("#RMId").select2({
            tags: true
        });
        //LoadDataTableSolicite();
        //LoadDataTableProspek();
        //LoadDataTablePipeline();
        LoadDataBeranda();
        //DropdownDataRMServerSide("RMId", "100", false);
        DropdownDataSRMandRMServerSide("SRMandRMId", "100", false);
        
        RangeDateDefault("PeriodeParamSearch");

    });

    function Parent1() {
        StateParent = 1;
        $('.clickParent1').css("background-color", "#00bfbf");
        $('.clickParent2').css("background-color", "white");
        $('.clickParent3').css("background-color", "white");
        ChangeState();
    }

    function Parent2() {
        StateParent = 2;
        $('.clickParent1').css("background-color", "white");
        $('.clickParent2').css("background-color", "#00bfbf");
        $('.clickParent3').css("background-color", "white");
        ChangeState();
    }

    function Parent3() {
        StateParent = 3;
        $('.clickParent1').css("background-color", "white");
        $('.clickParent2').css("background-color", "white");
        $('.clickParent3').css("background-color", "#00bfbf");
        ChangeState();
    }

    function ChangeState() {
        if (StateParent == 1 && DataDashboard == 1) {
            $('#tableSolicite').css("display", "block");
            $('#tableProspek').css("display", "none");
            $('#tablePipeline').css("display", "none");
        } else if (StateParent == 2 && DataDashboard == 1) {
            $('#tableSolicite').css("display", "none");
            $('#tableProspek').css("display", "block");
            $('#tablePipeline').css("display", "none");

        } else if (StateParent == 3 && DataDashboard == 1) {
            $('#tableSolicite').css("display", "none");
            $('#tableProspek').css("display", "none");
            $('#tablePipeline').css("display", "block");
        }
        else {
        }
    }




    function ClearSearchParameter() {
        ClearDropdown('PegawaiIdSearchParam');
        $('#PegawaiIdSearchParam').append('<option value="' + IdDropdwonDefault + '" selected>' + TextDropdwonDefault + '</option>');
        $('#PeriodeParamSearch').val('');

        LoadDataBeranda();
    }

    function LoadDataBeranda() {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    $.ajax({
                        url: "../TrackingRM/GetAllDataPendingTask",
                        type: 'POST',
                        data: { "UserId": $("#SRMandRMId").val() },
                        success: function (d) {
                            var userid = $("#SRMandRMId").val();

                            UserId = userid;
                            var TotalSolicite = d.tblSolicite[0].Total_Solicite;
                            var TotalProspek = d.tblProspek[0].Total_Prospek;
                            var TotalPipeline = d.tblPipeline[0].Total_Pipeline;
                            var TotalDebiturUsulan = d.ExecutiveSummary[0].TotalUsulan;
                            var TotalDebiturDisetujui = d.ExecutiveSummary[0].TotalSetujui;
                            var TotalGapDebitur = d.ExecutiveSummary[0].GapDebitur;
                            var TotalMaksimumKreditUsulan = d.ExecutiveSummary[0].MaksimumKreditUsulan;
                            var TotalMaksimumKreditDisetujui = d.ExecutiveSummary[0].MaksimumKreditSetujui;
                            var TotalGapMaksimumKredit = d.ExecutiveSummary[0].GapMaksimumKredit;

                            //Beranda Top
                            $('#BerandaTotalDebiturUsulan').text(TotalDebiturUsulan);
                            $('#BerandaTotalMaksimumKreditUsulan').text(TotalMaksimumKreditUsulan);
                            $('#BerandaTotalDebiturDiSetujui').text(TotalDebiturDisetujui);
                            $('#BerandaTotalMaksimumKreditDiSetujui').text(TotalMaksimumKreditDisetujui);
                            $('#BerandaTotalGapDebitur').text(TotalGapDebitur);
                            $('#BerandaTotalGapMaksimumKredit').text(TotalGapMaksimumKredit);

                            //Beranda Mid
                            $('#BerandaTotalSolicite').text(TotalSolicite);
                            $('#BerandaTotalProspek').text(TotalProspek);
                            $('#BerandaTotalPipeline').text(TotalPipeline);

                            $('#UserIdLoad').text(userid);

                            DataDashboard = 1;
                            ChangeState();
                            
                            LoadDataTableSolicite();
                            LoadDataTableProspek();
                            LoadDataTablePipeline();

                            if (TotalSolicite == 0 && TotalProspek == 0 && TotalPipeline == 0) {
                                $("#divChart2").show();
                                $('#divChart').hide();
                            } else {
                                $('#divChart').show();
                                $("#divChart2").hide();
                                var chart1 = new CanvasJS.Chart("chartContainer1", {
                                    exportEnabled: true,
                                    animationEnabled: true,
                                    colorSet: "greenShades",
                                    title: {
                                        text: ""
                                    },
                                    legend: {
                                        cursor: "pointer",
                                        itemclick: explodePie
                                    },
                                    data: [{
                                        type: "pie",
                                        showInLegend: true,
                                        toolTipContent: "{name}: <strong>{y} Debitur</strong>",
                                        indexLabel: "{name} - {prosentase}%",
                                        dataPoints: [
                                            { y: TotalSolicite, prosentase: ((TotalSolicite) / (TotalSolicite + TotalProspek + TotalPipeline) * 100).toFixed(1), name: "Solicite", exploded: true },
                                            { y: TotalProspek, prosentase: ((TotalProspek) / (TotalSolicite + TotalProspek + TotalPipeline) * 100).toFixed(1), name: "Prospek", exploded: true },
                                            { y: TotalPipeline, prosentase: ((TotalPipeline) / (TotalSolicite + TotalProspek + TotalPipeline) * 100).toFixed(1), name: "Pipeline", exploded: true },
                                        ]
                                    }]
                                });
                                chart1.render();
                            }
                        }
                    });
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }



    function explodePie(e) {
        if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
        } else {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
        }
        e.chart.render();

    }

    function LoadTableUpcomingProject()
    {
        if (TableUpcomingProject != undefined) {
            TableUpcomingProject.destroy();
        }
        TableUpcomingProject = $('#TableUpcomingProject').DataTable({
                                fixedHeader: {
                                    header: true
                                },
                                pageLength: 10,
                                orderCellsTop: true,
                                "scrollY": "270px",
                                "scrollCollapse": true,
                                responsive: true,
                                processing: true, // untuk menampilkan bar prosessing
                                serverSide: true, // untuk proses server side datatable harus diset true
                                orderMulti: false, // untuk disable multi order column
                                retrieve: true,
                                //autoWidth: true,
                                dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                                //data: dataUpcomingProject,
                                ajax: {
                                    "url": '../TrackingRM/LoadDataProjectByTimeline',
                                    "type": "POST",
                                    "datatype": "json",
                                    "data": { "TypeTable": "1", "PegawaiIdSearchParam": $("#PegawaiIdSearchParam").val(), "Periode": $("#PeriodeParamSearch").val() },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                                    }
                                },
                                destroy: true,

                                language: {
                                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                                    info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                                    paginate: {
                                        first: "Halaman Awal",
                                        last: "Halaman Akhir",
                                        previous: "Halaman Sebelumnya",
                                        next: "Halaman Selanjutnya",
                                    },
                                    lengthMenu: "Menampilkan _MENU_ Data",
                                    emptyTable: "Data tidak ditemukan",
                                    infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                                    zeroRecords: "Data tidak ditemukan"
                                },
                                columns: [
                                    { responsivePriority: 1, "data": "Number", "name": "Number" },
                                    {
                                        responsivePriority: 2,
                                        "data": "Id", "name": "Id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                                            return '<a href="javascript:void(0)" class="btn btn-facebook" id="button-edit" onclick="DetailProject(' + full.ProjectId + ')" style="margin-right:5px;" data-toggle="tooltip" title="Detail Project"><i class="fa fa-edit btnEdit"></i></a>'
                                        }
                                    },
                                    { responsivePriority: 7, "data": "ProjectNo", "name": "ProjectNo" },
                                    { responsivePriority: 3, "data": "NamaProject", "name": "NamaProject" },
                                    { responsivePriority: 8, "data": "TanggalProject", "name": "TanggalProject" },
                                    { responsivePriority: 7, "data": "TimelinePengerjaan", "name": "TimelinePengerjaan" },
                                    {
                                        responsivePriority: 4, "data": "Selisih", "name": "Selisih"
                                    },
                                    {
                                        responsivePriority: 5, "data": "StatusProject", "name": "StatusProject",
                                        "render": function (data, type, full, meta) {
                                            if (full.Warna == 'Kuning') {
                                                return '<p class="mt-2 btn btn-warning disabled"><b>' + data + '</b></p>'
                                            }
                                            else if (full.Warna == 'Biru') {
                                                return '<p class="mt-2 btn btn-info disabled"><b>' + data + '</b></p>'
                                            }
                                            else if (full.Warna == 'Hijau') {
                                                return '<p class="mt-2 btn btn-success disabled"><b>' + data + '</b></p>'
                                            }
                                            else if (full.Warna == 'Merah') {
                                                return '<p class="mt-2 btn btn-danger disabled"><b>' + data + '</b></p>'
                                            }
                                            else {
                                                return '<p class="mt-2 btn disabled"><b>' + data + '</b></p>'
                                            }
                                        }
                                    }
                                ],
                                "order": [[1, "desc"]]
                            });
    }

    function LoadTableOverdueProject()
    {
        if (TableOverdueProject != undefined) {
            TableOverdueProject.destroy();
        }
        TableOverdueProject = $('#TableOverdueProject').DataTable({
            fixedHeader: {
                header: true
            },
            pageLength: 10,
            orderCellsTop: true,
            "scrollY": "270px",
            "scrollCollapse": true,
            responsive: true,
            processing: true, // untuk menampilkan bar prosessing
            serverSide: true, // untuk proses server side datatable harus diset true
            orderMulti: false, // untuk disable multi order column
            retrieve: true,
            //autoWidth: true,
            dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
            ajax: {
                "url": '../Home/LoadDataProjectByTimeline',
                "type": "POST",
                "datatype": "json",
                "data": { "TypeTable": "2", "PegawaiIdSearchParam": $("#PegawaiIdSearchParam").val(), "Periode": $("#PeriodeParamSearch").val() },
                error: function (jqXHR, textStatus, errorThrown) {
                    window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                }
            },
            destroy: true,
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                paginate: {
                    first: "Halaman Awal",
                    last: "Halaman Akhir",
                    previous: "Halaman Sebelumnya",
                    next: "Halaman Selanjutnya",
                },
                lengthMenu: "Menampilkan _MENU_ Data",
                emptyTable: "Data tidak ditemukan",
                infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                zeroRecords: "Data tidak ditemukan"
            },
            columns: [
                { responsivePriority: 1, "data": "Number", "name": "Number" },
                {
                    responsivePriority: 2,
                    "data": "Id", "name": "Id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                        return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="DetailProject(' + full.ProjectId + ')" style="margin-right:5px;" data-toggle="tooltip" title="Detail Project"><i class="fa fa-edit btnEdit"></i></a></div>'
                    }
                },
                { responsivePriority: 7, "data": "ProjectNo", "name": "ProjectNo" },
                { responsivePriority: 3, "data": "NamaProject", "name": "NamaProject" },
                { responsivePriority: 8, "data": "TanggalProject", "name": "TanggalProject" },
                { responsivePriority: 7, "data": "TimelinePengerjaan", "name": "TimelinePengerjaan" },
                {
                    responsivePriority: 4, "data": "Selisih", "name": "Selisih"
                },
                {
                    responsivePriority: 5, "data": "StatusProject", "name": "StatusProject",
                    "render": function (data, type, full, meta) {
                        if (full.Warna == 'Kuning') {
                            return '<p class="mt-2 btn btn-warning disabled"><b>' + data + '</b></p>'
                        }
                        else if (full.Warna == 'Biru') {
                            return '<p class="mt-2 btn btn-info disabled"><b>' + data + '</b></p>'
                        }
                        else if (full.Warna == 'Hijau') {
                            return '<p class="mt-2 btn btn-success disabled"><b>' + data + '</b></p>'
                        }
                        else if (full.Warna == 'Merah') {
                            return '<p class="mt-2 btn btn-danger disabled"><b>' + data + '</b></p>'
                        }
                        else {
                            return '<p class="mt-2 btn disabled"><b>' + data + '</b></p>'
                        }
                    }
                }
            ],
            "order": [[1, "desc"]]
        });
    }

    function CreateProgressMeter(total)
    {
        $("#ChartDiv").html('');
        $("#ChartDiv").append('<div id="progress-meter" class="mx-auto"></div>');

        var fm = new FluidMeter();
                fm.init({
                    targetContainer: document.getElementById("progress-meter"),
                    fillPercentage: total,
                  options: {
                    fontFamily: "Raleway",
                    drawPercentageSign: true,
                    drawBubbles: true,
                    size: 300,
                    borderWidth: 19,
                    backgroundColor: "#e2e2e2",
                    foregroundColor: "#fafafa",
                    foregroundFluidLayer: {
                      fillStyle: "teal",
                      angularSpeed: 100,
                      maxAmplitude: 12,
                      frequency: 30,
                      horizontalSpeed: -150
                    },
                    backgroundFluidLayer: {
                      fillStyle: "pink",
                      angularSpeed: 100,
                      maxAmplitude: 9,
                      frequency: 30,
                      horizontalSpeed: 150
                    }
                  }
                });
        $("#labelPrecentase").show();
    }

    function DetailProject(Id) {
        window.open('../DetailProject/View?ProjectId=' + Id, '_blank');
    }

    function GetListAllPendingTask() {
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    $.ajax({
                        url: "../Home/GetAllDataPendingTask",
                        type: 'POST',
                        data: { "PegawaiIdSearch": $("#PegawaiIdSearchParam").val(), "Periode": $("#PeriodeParamSearch").val()},
                        success: function (d) {
                            console.log(d)
                            if (d != null) {
                                $("#DivListProgressTaskList").show();
                                $("#emptyAllPendingTask").hide();
                                $('#ListProgressTaskList').html("");
                                $.each(d, function (index, value) {
                                    $('#ListProgressTaskList').append('<li class="list-group-item">' +
                                        '<div class="todo-indicator bg-warning"></div>' +
                                        '<div class="widget-content p-0">' +
                                        '<div class="widget-content-wrapper">' +
                                        '<div class="widget-content-left">' +
                                        '<div class="widget-heading">' +
                                        '<span style="font-size:8px; font-weight:bold">' + value.TimelinePengerjaan + ' (' + value.Selisih+' hari)</span><br />' +
                                        '<p><b>' + value.ProjectNo +'</b></p>' +
                                        '<p style="margin-top:-15px;">' + value.NamaProject+'</p>' +
                                        '</div>' +
                                        '<div class="widget-subheading" style="margin-top:-15px;"><i>' + value.DetailRequirment+'</i></div>' +
                                        '<div class="widget-content">' +
                                        '<a href="javascript:void(0)" class="badge badge-pill badge-success pull-right" style="margin-right:10px !important;" onclick="DetailProject(' + value.ProjectId+')">Detail Project</a' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>' +
                                        '</li>');
                                });
                            }
                            else {
                                $("#DivListProgressTaskList").hide();
                                $("#emptyAllPendingTask").show();
                            }
                        }
                    });
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

    function ViewFasilitas(Id, Flagging) {
        debugger;
        SearchData = { "Id": Id, "Flag": Flagging }
        UrlPartialView = '@Url.Content("~/TrackingWilayah/ViewFasilitasKredit")';
        LoadPartialViewData(UrlPartialView, function (data) {
            var modalbody = $('#LoadContent');
            modalbody.html(data);
            $('#ModalForm').modal({
                backdrop: 'static',
                keyboard: false
            });
            LoadDataTableFasilitasKredit(Id, Flagging)
        }, SearchData);
    }


    function LoadDataTableSolicite(data) {
        if (TableSolicite != undefined) {
            TableSolicite.destroy();
        }

        TableSolicite = $('#TableSolicite').DataTable({
            fixedHeader: {
                header: true
            },
            pageLength: 10,
            destroy: true,
            orderCellsTop: true,
            responsive: true,
            processing: true, // untuk menampilkan bar prosessing
            serverSide: true, // untuk proses server side datatable harus diset true
            orderMulti: false, // untuk disable multi order column
            retrieve: true,
            //autoWidth: true,
            dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
            //data: data,
            ajax: {
                "url": '../TrackingRM/LoadDataTableSolicite',
                "type": "POST",
                "datatype": "json",
                "data": { "UserId": $('#SRMandRMId').val() },
                error: function (jqXHR, textStatus, errorThrown) {
                    window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                }
            },
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                paginate: {
                    first: "Halaman Awal",
                    last: "Halaman Akhir",
                    previous: "Halaman Sebelumnya",
                    next: "Halaman Selanjutnya",
                },
                lengthMenu: "Menampilkan _MENU_ Data",
                emptyTable: "Data tidak ditemukan",
                infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                zeroRecords: "Data tidak ditemukan"
            },
            columns: [
                { responsivePriority: 1, "data": "Number", "name": "Number" },
                {
                    responsivePriority: 2,
                    "data": "Id", "name": "Id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                        //return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="EditFAQ(' + full.Id + ')"  data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                            //+ '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="ViewFAQ(' + full.Id + ')"  data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'
                            //+ '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="DeleteFAQ(' + full.Id + ')"  data-toggle="tooltip" title="Delete Data"><i class="fa fa-trash btnDelete"></i></a></div>'

                        return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="ViewFasilitas(' + full.Id + ", "+ 1 +')"  data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'

                    }
                },
                { responsivePriority: 3, "data": "NamaPegawai", "name": "NamaPegawai" },
                { responsivePriority: 4, "data": "Npp", "name": "Npp" },
                { responsivePriority: 5, "data": "MaksimumKredit", "name": "MaksimumKredit" }
            ],
            "order": [[1, "desc"]]
        });

        TableSolicite.columns.adjust().responsive.recalc();
    }
    function LoadDataTableProspek(data) {
        if (TableProspek != undefined) {
            TableProspek.destroy();
        }
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    TableProspek = $('#TableProspek').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        //autoWidth: true,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../TrackingRM/LoadDataTableProspek',
                            "type": "POST",
                            "datatype": "json",
                            "data": { "UserId": $('#SRMandRMId').val() },
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "Number", "name": "Number" },
                            {
                                responsivePriority: 2,
                                "data": "Id", "name": "Id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                                    //return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="EditFAQ(' + full.Id + ')"  data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                                    //+ '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="ViewFAQ(' + full.Id + ')"  data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'
                                    //+ '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="DeleteFAQ(' + full.Id + ')"  data-toggle="tooltip" title="Delete Data"><i class="fa fa-trash btnDelete"></i></a></div>'

                                    return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="ViewFasilitas(' + full.Id + ", " + 2 +')"  data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'

                                }
                            },
                            { responsivePriority: 3, "data": "NamaPegawai", "name": "NamaPegawai" },
                            { responsivePriority: 4, "data": "Npp", "name": "Npp" },
                            { responsivePriority: 5, "data": "MaksimumKredit", "name": "MaksimumKredit" }
                        ],
                        "order": [[1, "desc"]]
                    });

                    //---------------------Function untuk reset data pencarian----------------//
                    $('#BtnClearSearch').click(function () {
                        $('#txtKodeSearchParam').val("");
                        $('#txtNamaSearchParam').val("");

                        TableProspek.columns(2).search($('#txtKodeSearchParam').val().trim());
                        TableProspek.columns(3).search($('#txtNamaSearchParam').val().trim());
                        //hit search ke server
                        TableProspek.draw();
                    });

                    TableProspek.columns.adjust().responsive.recalc();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }
    function LoadDataTablePipeline(data) {
        if (TablePipeline != undefined) {
            TablePipeline.destroy();
        }
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    TablePipeline = $('#TablePipeline').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        //autoWidth: true,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../TrackingRM/LoadDataTablePipeline',
                            "type": "POST",
                            "datatype": "json",
                            "data": { "UserId": $('#SRMandRMId').val() },
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "Number", "name": "Number" },
                            {
                                responsivePriority: 2,
                                "data": "Id", "name": "Id", "orderable": false, "visible": true, "render": function (data, type, full, meta) {
                                    //return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-edit" onclick="EditFAQ(' + full.Id + ')"  data-toggle="tooltip" title="Ubah Data"><i class="fa fa-edit btnEdit"></i></a>'
                                    //+ '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="ViewFAQ(' + full.Id + ')"  data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'
                                    //+ '<a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-delete" onclick="DeleteFAQ(' + full.Id + ')"  data-toggle="tooltip" title="Delete Data"><i class="fa fa-trash btnDelete"></i></a></div>'

                                    return '<div class="btn-group"><a href="javascript:void(0)" class="btn btn-small btn-facebook" id="button-view" onclick="ViewFasilitas(' + full.Id + ", " + 3 +')"  data-toggle="tooltip" title="View Data"><i class="fa fa-eye btnView"></i></a>'

                                }
                            },
                            { responsivePriority: 3, "data": "NamaPegawai", "name": "NamaPegawai" },
                            { responsivePriority: 4, "data": "Npp", "name": "Npp" },
                            { responsivePriority: 5, "data": "MaksimumKredit", "name": "MaksimumKredit" }
                        ],
                        "order": [[1, "desc"]]
                    });

                    //---------------------Function untuk reset data pencarian----------------//
                    $('#BtnClearSearch').click(function () {
                        $('#txtKodeSearchParam').val("");
                        $('#txtNamaSearchParam').val("");

                        TablePipeline.columns(2).search($('#txtKodeSearchParam').val().trim());
                        TablePipeline.columns(3).search($('#txtNamaSearchParam').val().trim());
                        //hit search ke server
                        TablePipeline.draw();
                    });

                    TablePipeline.columns.adjust().responsive.recalc();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }


    function LoadDataTableFasilitasKredit(Id, flag) {
        debugger;
        $.ajax({
            type: 'GET',
            url: '../Login/CekSession',
            success: function (hasil) {
                if (hasil == true) {
                    TableFasilitasKredit = $('#TableFasilitasKredit').DataTable({
                        fixedHeader: {
                            header: true
                        },
                        pageLength: 10,
                        destroy: true,
                        orderCellsTop: true,
                        responsive: true,
                        processing: true, // untuk menampilkan bar prosessing
                        serverSide: true, // untuk proses server side datatable harus diset true
                        orderMulti: false, // untuk disable multi order column
                        retrieve: true,
                        //autoWidth: true,
                        dom: '<"top"i>rt<"bottom"lp><"clear">', // untuk menghilangkan search global
                        //data: data,
                        ajax: {
                            "url": '../TrackingRM/LoadDataTableFasilitasKredit',
                            "type": "POST",
                            "datatype": "json",
                            "data": { "Id": Id, "Flag": flag },
                            error: function (jqXHR, textStatus, errorThrown) {
                                window.location.href = "../Error/HttpStatusErrorLayout?statusCode=500"
                            }
                        },
                        language: {
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                            info: "Menampilkan _START_ Sampai _END_ Dari _TOTAL_ Data",
                            paginate: {
                                first: "Halaman Awal",
                                last: "Halaman Akhir",
                                previous: "Halaman Sebelumnya",
                                next: "Halaman Selanjutnya",
                            },
                            lengthMenu: "Menampilkan _MENU_ Data",
                            emptyTable: "Data tidak ditemukan",
                            infoEmpty: "Menampilkan 0 Sampai 0 Dari 0 Data",
                            zeroRecords: "Data tidak ditemukan"
                        },
                        columns: [
                            { responsivePriority: 1, "data": "Number", "name": "Number" },
                            { responsivePriority: 2, "data": "JenisFasilitas", "name": "JenisFasilitas" },
                            { responsivePriority: 3, "data": "Valuta", "name": "Valuta" },
                            { responsivePriority: 4, "data": "MaksimumKredit", "name": "MaksimumKredit" },
                            { responsivePriority: 5, "data": "Tujuan", "name": "Tujuan" },
                            { responsivePriority: 6, "data": "FlowStatus_Name", "name": "FlowStatus_Name" },
                            { responsivePriority: 7, "data": "Action_Name", "name": "Action_Name" },
                        ],
                        "order": [[1, "desc"]]
                    });

                    TableFasilitasKredit.columns.adjust().responsive.recalc();
                }
                else {
                    window.location.href = "../Login/Login?a=true";
                }
            }
        });
    }

</script>