@model TwoTierTemplate.Models.InboxModels;

<div id="DivContentBody">
    <div class="row" style="padding-top:20px;">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="headerSearch">
                    Info Debitur
                </div>
                
                <div class="card-body">
                    <div >
                        <table>
                            <tr>
                                <td>
                                    <div>Nama Debitur</div>
                                </td>
                                <td>
                                    <div>:</div>
                                </td>
                                <td>
                                    <div>Testing</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>No Telepon</div>
                                </td>
                                <td>
                                    <div>:</div>
                                </td>
                                <td>
                                    <div>Testing</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>No Handphone</div>
                                </td>
                                <td>
                                    <div>:</div>
                                </td>
                                <td>
                                    <div>Testing</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>Email</div>
                                </td>
                                <td>
                                    <div>:</div>
                                </td>
                                <td>
                                    <div>Testing</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>CIF</div>
                                </td>
                                <td>
                                    <div>:</div>
                                </td>
                                <td>
                                    <div>Testing</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>NPWP</div>
                                </td>
                                <td>
                                    <div>:</div>
                                </td>
                                <td>
                                    <div>Testing</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>Alamat</div>
                                </td>
                                <td>
                                    <div>:</div>
                                </td>
                                <td>
                                    <div>Testing</div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <div class="main-card mb-3 card">
                <div class="headerSearch">
                    Info Usaha
                </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <div>Badan Usaha</div>
                                        </td>
                                        <td>
                                            <div>:</div>
                                        </td>
                                        <td>
                                            <div>Testing</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>Nama Group Usaha</div>
                                        </td>
                                        <td>
                                            <div>:</div>
                                        </td>
                                        <td>
                                            <div>Testing</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>PIC</div>
                                        </td>
                                        <td>
                                            <div>:</div>
                                        </td>
                                        <td>
                                            <div>Testing</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>Provinsi</div>
                                        </td>
                                        <td>
                                            <div>:</div>
                                        </td>
                                        <td>
                                            <div>Testing</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>Kabupaten</div>
                                        </td>
                                        <td>
                                            <div>:</div>
                                        </td>
                                        <td>
                                            <div>Kecamatan</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>Kelurahan</div>
                                        </td>
                                        <td>
                                            <div>:</div>
                                        </td>
                                        <td>
                                            <div>Testing</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>Kode Pos</div>
                                        </td>
                                        <td>
                                            <div>:</div>
                                        </td>
                                        <td>
                                            <div>Testing</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>No Faksimilli</div>
                                        </td>
                                        <td>
                                            <div>:</div>
                                        </td>
                                        <td>
                                            <div>Testing</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>Website</div>
                                        </td>
                                        <td>
                                            <div>:</div>
                                        </td>
                                        <td>
                                            <div>Testing</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>Nama Unit</div>
                                        </td>
                                        <td>
                                            <div>:</div>
                                        </td>
                                        <td>
                                            <div>Testing</div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td></td>
                            <td></td>
                            <td style="vertical-align: top;padding-left: 50px">
                                <table>
                                    <tr>
                                        <td>
                                            <div>Sektor Ekonomi 10</div>
                                        </td>
                                        <td>
                                            <div>:</div>
                                        </td>
                                        <td>
                                            <div>Testing</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>Sektor Ekonomi 20</div>
                                        </td>
                                        <td>
                                            <div>:</div>
                                        </td>
                                        <td>
                                            <div>Testing</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>Sub Sektor Ekonomi</div>
                                        </td>
                                        <td>
                                            <div>:</div>
                                        </td>
                                        <td>
                                            <div>Testing</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>Sektor Unggulan/ Prioritas</div>
                                        </td>
                                        <td>
                                            <div>:</div>
                                        </td>
                                        <td>
                                            <div>Testing</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>Sektor Industri</div>
                                        </td>
                                        <td>
                                            <div>:</div>
                                        </td>
                                        <td>
                                            <div>Testing</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>Bidang/ Jenis Usaha</div>
                                        </td>
                                        <td>
                                            <div>:</div>
                                        </td>
                                        <td>
                                            <div>Testing</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>Keterangan</div>
                                        </td>
                                        <td>
                                            <div>:</div>
                                        </td>
                                        <td>
                                            <div>Testing</div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="main-card mb-3 card">
                <div class="headerSearch">
                    Info Fasilitas Kredit
                </div>
                <div class="card-body">
                    <table id="#TableFasilitasKredit" class="display nowrap table table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width: 1px">No</th>
                                <th>
                                    Jenis Fasilitas
                                </th>
                                <th>
                                    Valuta
                                </th>
                                <th>
                                    Maksimum Kredit
                                </th>
                                <th>
                                    Tujuan
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="main-card mb-3 card">
                <div class="headerSearch">
                    Info Checking Document
                </div>
                <div class="card-body">
                    <table id="#TableFasilitasKredit" class="display nowrap table table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width: 1px">No</th>
                                <th>
                                    Jenis Fasilitas
                                </th>
                                <th>
                                    Valuta
                                </th>
                                <th>
                                    Maksimum Kredit
                                </th>
                                <th>
                                    Tujuan
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="main-card mb-3 card">
                <div class="headerSearch">
                    Info Disclaimer
                </div>
                <div class="card-body">

                </div>
            </div>
            <div class="main-card mb-3 card">
                <div class="headerSearch">
                    Catatan
                </div>
                <div class="card-body">
                    <div class="panel-body" style="margin-right:25px !important;">
                        <form id="FormControl">
                            <textarea id="TextAreaPengaturan" class="form-control"></textarea>
                        </form>
                    </div>
                </div>
            </div>
            <div class="main-card mb-3 card">
                <div class="headerSearch">
                    Info Riwayat Komentar
                </div>
                <div class="card-body">
                    <table id="#TableFasilitasKredit" class="display nowrap table table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width: 1px">No</th>
                                <th>
                                    Jenis Fasilitas
                                </th>
                                <th>
                                    Valuta
                                </th>
                                <th>
                                    Maksimum Kredit
                                </th>
                                <th>
                                    Tujuan
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <a href="#" class="mt-2 btn btn-danger pull-right" style="margin-left:10px;" id="BtnClearSearch">Reject</a>
            <a href="#" class="mt-2 btn btn-secondary pull-right" style="margin-left:10px;" id="BtnClearSearch">Pending</a>
            <a href="#" class="mt-2 btn btn-success pull-right" id="BtnSearch">Approve</a>
        </div>
    </div>
</div>